header
{
    background-color: rgb(174, 174, 216); /*APENAS PARA ORGANIZAÇÃO*/
    display: flex; 
    flex-direction: column; /*coloca a parte dos links acima do titulo, como uma coluna*/
    gap: 60px; /*afasta o título da parte dos links*/
    padding-top: 5vh; /*dá um espacinho em cima*/
    padding-left: 8vh; /*dá um espaço na esquerda*/
    padding-bottom: 8vh; /*dá um espaço na esquerda*/
}

.cabeçalho
{
   background-color: blue; /*APENAS PARA ORGANIZAÇÃO*/
   display: flex; /*coloca o logo e os links um ao lado do outro EM LINHA*/
   justify-content:space-around; /* organiza o título e o conteiner dos links com espaço entre eles e em relação as bordas*/
   padding-top: 3px; /*APENAS PARA ORGANIZAÇÃO*/
}

.navHeader
{
    background-color: rgb(43, 226, 186); /*APENAS PARA ORGANIZAÇÃO*/
    width: 80%; /*largura do conteiner dos links do cabeçalho*/
    display: flex;
    flex-direction: row; /* coloca os links um ao lado do outro EM LINHA*/
    justify-content: space-around; /* organiza os dois conteiners de links com espaço entre eles */
    align-items: center; /* deixa tudo centralizado verticalmente */
    font-size: 15px;
}

.linksSite
{
    background-color: crimson; /*APENAS PARA ORGANIZAÇÃO*/
    display: flex;
    flex-direction: row; /* coloca os links um ao lado do outro EM LINHA*/
    gap: 100px;
}

.linksSite a:hover
{
    font-weight: bold;
}

.linksLogin
{
    background-color: darkorange; /*APENAS PARA ORGANIZAÇÃO*/
    display: flex;
    flex-direction: row; /* coloca os links um ao lado do outro EM LINHA*/
    width: 190px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.signup
{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.signup a 
{
    font-weight: 8000000px;
}

.signup:hover
{
    background-color: #FEBD2F;
    transition: 0.5s;
}

.tituloImagem
{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
}

h1
{
    font-size: 80px;
    max-width: 30vw;
    margin-left: 2vh;
}

.h1segundo
{
    /* background-color: darkslateblue; */
    display: flex;
    padding-left: 20%;
    text-align: left;
}

.h1primeiro, .h1segundo, .h1terceiro
{
    font-family: 'Playfair Display', serif;
}

h2
{
    font-family: 'Playfair Display', serif; 
    font-size: 25px;
}

h3, h4, p
{
    font-family: 'Jost', sans-serif;
}

li, a
{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Jost', sans-serif;
    color: black;
}

main
{
    background-color: darksalmon; /*APENAS PARA ORGANIZAÇÃO*/
    display: flex; /* coloca a nav vertical e o conteiner de conteúdo um ao lado do outro, EM LINHA*/
    padding-left: 8vh;
    padding-top: 8vh;
    gap: 15vh; /* espaço entre a nav vertical e a div de conteúdo*/
}

main h2
{
    font-family: 'Playfair Display', serif; 
    font-size: 40px;
}
.geralNavVertical
{
    background-color: chocolate; /*APENAS PARA ORGANIZAÇÃO*/
    width: 12%;  /*definindo a largura*/
    display: flex;
    flex-direction: column;
    gap: 40px; /*espaço entre o título e as opções*/
    padding: 7px;
}

.conteudoprincipal
{
    background-color: blueviolet; /*APENAS PARA ORGANIZAÇÃO*/
    display: flex;
    gap: 20px; /*dando espaço entre a barra de pesquisa e o conteúdo de baixo*/
    flex-direction: column; /*coloca a barra de pesquisa/filtro acima do conteudo gerla, EM COLUNA*/
    width: 70%; /*definindo a largura*/
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
}


.pesquisaFiltro
{
    background-color: darkblue; /*APENAS PARA ORGANIZAÇÃO*/
    display: flex; /* coloca a barra de pesquisa e o filtro um ao lado do outro, EM LINHA*/
    justify-content: space-between; /* deixa um espaço entre o filtro e a barrra*/
    align-items: center;  /* centraliza na vertical*/
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;

}

.menufiltro
{
    display: flex; /* coloca o rótulo "sort by" ao lado das opções do menu, EM LINHA*/
    background-color: white;
    width:15%;
    height: 100%;
    border-radius: 15px;
    align-items: center;
    padding-left: 10px;
    font-size: 15px;
}


.divbarrapesquisa /*DIV DA BARRA DE PESQUISA*/
{
    background-color: rgb(183, 228, 228); /*APENAS PARA ORGANIZAÇÃO*/
    width: 60%;
    height: 40px;
    border: 1px;
    border-radius:15px;
}

.caixaPesquisa /*CAIXA DE ENTRADA DE TEXTO DA PESQUISA*/
{
    background-color:transparent;
    border-radius:15px;
    padding-left:5px;
    font-size:18px;
    font-family: 'Jost', sans-serif;
    border-style:none;
    height:100%;
    width:100%;
}


.geralConteudo
{
    background-color: rgb(133, 153, 77);/*APENAS PARA ORGANIZAÇÃO*/
    padding-left: 7px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 9px;
    display: flex; /*coloca o conteudo principal ao lado dos dois conteúdos secundários, EM LINHA*/
    gap: 20px; /*da um espaço entre o conteúdo principal e o secundário*/
}

.contPrinc
{
    background-color: darkred;
    width: 60%; 
    border-radius: 15px;
    padding: 6px;
}

.contSecunGeral
{
    background-color: yellow;
    
    padding-left: 7px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 9px;
    width: 40%;

    display: flex;
    flex-direction: column; /*deixa os dois quadrados de conteúdo um em cima do outro, NUMA COLUNA*/
    gap: 20px; /*espaçamento entre os doid bloquinhos de conteúdo*/
}

.SegundoContSec
{
    background-color: white;
    border-radius: 20px;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.PrimeiroContSec
{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 6px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}


.listaNavVertical
{
    background-color: violet;
    display: flex;
    flex-direction: column; /*colocas as opções uma abaixo da outra*/
    gap: 10px; 
}
.linkNavVertical
{
    display: flex;
    flex-direction: column; /*colocas as opções uma abaixo da outra*/
    justify-content: center;
    background-color: teal;
    width: 100%;
    height: 40px;;
    border-radius: 15px;
    padding-left: 10px;
}

.linkNavVertical:hover
{
    background-color: #FEBD2F;
    transition: 0.5s;
}

.linkNavVertical:active
{
    background-color: #886312;
}

select, option
{
    border-color: transparent;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
}


.contPrinc
{
    display: flex; /*deixa a imagem do prato ao lado dos textos*/
    align-items: center; /*centraliza na vertical*/
    gap: 25px; /*da um espaço entre o prato e os textos*/
}

.TextosContPrincipal
{
    display: flex;
    flex-direction: column;
    gap: 20px; /*da um espaço entre os textos*/
}
.TextosContPrincipal h3
{
    max-width: 60%;
    font-size: 40px;
}

.TextosContPrincipal p
{
    font-size: 18px;
    max-width: 80%;
}


.TextosContSec2, .TextosContSec1
{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.ImagemPratoSec2, .ImagemPratoSec1
{
    width: 40%; /*definindo tamanho do pai para o filho (imagem) seguir*/
}

.pratosSec
{
    width: 90%;
}

h4
{
    font-size: 20px;
}



/* ORGANIZAÇÃO PADRÃO DAS INFORMAÇÕES DO PRATO */
.infosPratos, .infosPratosSec
{
    /* background-color: tomato; */
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: stretch;
}

.infosPratos p
{
    font-size: 15px;
}

.cookTimeDiv
{
    /* background-color: yellow; */
    width: 50%;
}

.CookTimeHora
{
    font-weight: bold;
}

.barrinhaDiv p
{
    font-size: 30px;
    font-weight: lighter;
    color: rgb(95, 86, 95);
}





footer
{
    background-color: rgb(52, 180, 138);
    
}



/* TESTES FEITOS

    font-family: 'Abril Fatface', cursive;
    font-family:'EB Garamond', serif;
    font-family:'Abril Fatface', cursive;
    font-family: 'Viaoda Libre', cursive;



*/